// ANIMATION
// =========

$global-transition-duration: .4s !default;
$global-transition-timing: ease-in-out !default;

@mixin transition($properties...) {
    $list: ();
    @each $property in $properties {
        $list: append($list, $property $global-transition-duration $global-transition-timing, comma);
    }
    transition: $list;
}
